  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form id="signUpForm">
        <h3>{{ t 'SignUp.Sign Up' }}</h3>
        <div class="form-group required">
          <label for="username" class="control-label">{{ t 'SignUp.Username' }}</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="{{ t 'SignUp.username' }}">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <label for="email" class="control-label">{{ t 'SignUp.Email address' }}</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="{{ t 'SignUp.email address' }}">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <label for="password" class="control-label">{{ t 'SignUp.Password' }}</label>
          <input type="password" class="form-control" name="password" id="password">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <label for="repeatPassword" class="control-label">{{ t 'SignUp.Repeat Password' }}</label>
          <input type="password" class="form-control" name="repeatPassword" id="repeatPassword">
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <label for="language" class="control-label">{{ t 'SignUp.Language' }}</label>
          <select class="form-control" id="language" name="language">
            <option value="">{{ t 'SignUp.select' }}</option>
            {{#each langSelect}}
            <option value="{{ this.key }}">{{ this.value }}</option>
            {{/each}}
          </select>
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <label for="age" class="control-label">{{ t 'SignUp.Age' }}</label>
          <input type="text" class="form-control" id="age" name="age" />
          <span class="help-block hidden"></span>
        </div>
        <div class="form-group required">
          <div class="checkbox">
            <label class="control-label">
              <input type="checkbox" value="true" id="terms" name="terms" />{{ t 'SignUp.I agree all your' }} <a href="#">{{ t 'SignUp.Terms of Services' }}</a>
            </label>
            <span class="help-block hidden"></span>
          </div>
        </div>
        <div class="form-group">
          <button type="button" id="signUpButton" class="btn btn-success">{{ t 'SignUp.Sign Up' }}</button>
        </div>
      </form>
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->